# Environment variables
.env
.env.*
!.env.example

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# VSCode test folder
.vscode-test