main {
    width: 80%;
}

section {
    border: 1px solid black;
    width: 70%;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 20px;
    background-color: rgb(209, 206, 206);
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #4d90fe;
    color: white;
}

section:has(.approved) {
    background-color: #d4edda;
}

section:has(.denied) {
    background-color: #f8d7da;
}

section:has(.pending) {
    background-color: #fff3cd;
}