main {
    width: 60%;

    h1 {
        font-size: 50px;

    }

    form {
        font-size: 25px;

        fieldset {
            margin: 30px;
            border-radius: 10px;
            
            legend {
                font-size: 40px;
                text-align: left;
                font-weight: bold;
                
            }

            .full-address {
                width: 200px;
            }
        }

        .personal-info, .living-info, .employement-info, .request-info {
            background-color: white;
            
            .form-group {
                margin: 10px;
                margin-left: 30px;

                input {
                    margin-left: 4px;
                }
            }
        }
    }
}

