<%- include("../../partials/header")%>
    <main>
        <h1>Application Page</h1>
        <form method="POST" action="/application" class="application">

            <!-- PERSONAL INFO -->
            <fieldset class="personal-info">
                <legend>Personal Info</legend>

                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" minlength="2" maxlength="25" required>
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" minlength="2" maxlength="25" required>
                </div>

                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required>
                </div>

                <div class="form-group">
                    <label for="ssn_last4">Last Four Social</label>
                    <input type="text" id="ssn_last4" name="ssn_last4" minlength="4" maxlength="4" required>
                </div>
            </fieldset>

            <!-- LIVING INFO -->
            <fieldset class="living-info">
                <legend>Living Info</legend>

                <div class="form-group">
                    <label for="address">Full Address:</label>
                    <input type="text" id="address" name="address" class="full-address" required placeholder="Main St, Rexburg, ID 83440">
                </div>

                <div class="form-group">
                    <label for="time_at_address_years">Time at Address (Years):</label>
                    <input type="text" id="time_at_address_years" name="time_at_address_years" min="0" required>
                </div>

                <div class="form-group">
                    <label for="address_type">Address Type:</label>
                    <select id="address_type" name="address_type" required>
                        <option value="">Select</option>
                        <option value="rent">Rent</option>
                        <option value="living_with_others">Living with Others</option>
                        <option value="mortgage">Mortgage</option>
                        <option value="owned_free_clear">Owned Free & Clear</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="housing_payment">Rent / Mortgage Amount:</label>
                    <input type="text" id="housing_payment" name="housing_payment" min="0" placeholder="0.00" required>
                </div>
            </fieldset>

            <!-- EMPLOYMENT INFO -->
            <fieldset class="employement-info">
                <legend>Employment Info</legend>

                <div class="form-group">
                    <label for="employer_name">Employer Name:</label>
                    <input type="text" id="employer_name" name="employer_name" required>
                </div>

                <div class="form-group">
                    <label for="job_title">Job Title:</label>
                    <input type="text" id="job_title" name="job_title" required>
                </div>

                <div class="form-group">
                    <label for="pay_type">Paid:</label>
                    <select id="pay_type" name="pay_type" required>
                        <option value="">Select</option>
                        <option value="hourly">Hourly</option>
                        <option value="salary">Salary</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="income_amount">Income Amount:</label>
                    <input type="text" id="income_amount" name="income_amount" min="0" required>
                    <small class="form-help">
                        If hourly → enter hourly wage.  
                        If salary → enter annual salary.
                    </small>
                </div>

            </fieldset>

            <fieldset class="request-info">
                <legend>Requested Loan</legend>
                <div class="form-group">
                    <label for="loan_type">Loan Type</label>
                    <select id="loan_type" name="loan_type" required>
                        <option value="">Select</option>
                        <option value="auto">Auto</option>
                        <option value="personal">Personal</option>
                        <option value="mortgage">Mortgage</option>
                        <option value="card">Credit Card</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" min="1000" max="5000000" step="1" required placeholder="Example: 50000">
                </div>

                <div class="form-group">
                    <label for="term">Loan Term (months)</label>
                    <input type="number" id="term" name="term" min="6" max="360" required>
                </div>

            </fieldset>

            <!-- CURRENT DEBTS -->
            <fieldset class="debt-info">
                <legend>Current Debts</legend>
                <div class="form-group have-debt">
                    <label>Do you currently have any debts?</label>

                    <div>
                        <input type="radio" id="debt_yes" name="has_debt" value="yes">
                        <label for="debt_yes">Yes</label>
                    </div>

                    <div>
                        <input type="radio" id="debt_no" name="has_debt" value="no">
                        <label for="debt_no">No</label>
                    </div>
                </div>

                <div id="debt-section" style="display:none">
                    <div id="debt-container">
                        <div class="debt-entry">

                            <div class="form-group">
                                <label>Debt Type</label>
                                <select name="debt_type">
                                    <option value="">Select</option>
                                    <option value="credit_card">Credit Card</option>
                                    <option value="auto_loan">Auto Loan</option>
                                    <option value="student_loan">Student Loan</option>
                                    <option value="mortgage">Mortgage</option>
                                    <option value="personal_loan">Personal Loan</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Creditor Name</label>
                                <input type="text" name="creditor_name">
                            </div>

                            <div class="form-group">
                                <label>Monthly Payment</label>
                                <input type="number" name="monthly_payment" step="0.01">
                            </div>

                            <div class="form-group">
                                <label>Balance Outstanding</label>
                                <input type="number" name="balance_outstanding" step="0.01">
                            </div>

                        </div>
                    </div>
                </div>


            </fieldset>


            <button type="submit">Submit Application</button>

        </form>
    </main>
<%- include("../../partials/footer")  %>