<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
    <h1>Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
    <img src="/images/404error.jpeg" alt="404 Not Found">
    <p>Return to the <a href="/">homepage</a> to continue browsing.</p>
</main>
</body>
</html>
