<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
    <h1>Something went wrong on our end.</h1>
    <p>We are working to fix the issue. Please try again in a moment.</p>
    <img src="/images/500error.jpeg" alt="500 Server Error">
    <p>Return to the <a href="/">homepage</a> to continue browsing.</p>
</main>
</body>
</html>
